/* Desktop */
body{
  background-image: url("../gambar/0.jpg");
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  padding: auto;
  width: 100%;
  background-position: -1px;
}


.judul {
  font-size: 20px;

}
.judul:hover{
  color: floralwhite;
  font-family: fantasy;
  transform: rotateX(20px);
}
/* a .judul {
  padding-left: -20%;
} */
.nav{
    width: 100%; 
    margin-left: -20%; 
    padding-left: auto;
    padding-right: 6%;
    background:transparent;
    opacity: 0.3;
    position: fixed;
    color: rgb(0, 255, 255);
    text-decoration: none;
}
.nav-link:hover{
  font-weight: bold;
  transition: 0.1s;
  font-size: 20px;
  color: aqua;
  position: inherit;
}
 

.navbar-expand-lg:hover{
  font-weight: 30%;
  border-radius: auto;
  /* border: 2px ridge rgba(6, 216, 58, 0.801); */
  background-color: rgba(36, 35, 33, 0.445);

}

.nav-item,
.nav-item1,
.nav-item2,
.nav-item3{
  margin-inline-start: 80px;
  margin-inline-end: 10px;
}
.nav-item,
.nav-item1,
.nav-item2,
.nav-item3,:hover{
  border: 0px solid grey;
  transition: 0.1s;
  border-style: double;
  border-radius: 5px;
  border-style: groove;
  position:-webkit-sticky;
}

fieldset{
  text-align: center;
  margin-top: 15%;
}
form{
  border-radius: 15px 50px 30px;
  border-style: ridge;
  text-decoration: none;
  opacity: 0.9;
  display: block;
}


button{
  margin-top: 2%;
  width: 40%;
  margin-bottom: 2%;
  text-decoration: none;
  font-weight: bold;
}

button:hover{
  width: 40%;
  font-size: 20px;
  background: transparent;
  position: -webkit-sticky;
}



 /* kalo mau make footer  */

/* footer{
  margin-top:90px;
  position: fixed;
  margin-left: 70%;
  text-align: center;
  background-color:transparent;
}
 */

nav .navbar-toggler{
  background-color:rgba(75, 191, 230, 0.377);

  width: 20%;
  }

.navbar-toggler-icon{
    color: black;
  
  }